/*RESPONSIVE NAVBAR MENU STARTS*/

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 880px) {
  .menu {
    display: none;
    background: var(--color-bg-variant-contact);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background: var(--color-bg-variant);
    transition: 0.3s ease;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked~.menu {
    display: block;
    color: white;
  }

  .hamburger {
    display: block;
  }
}


/**************************** Section Profil RESPONSIVE*****************************/


@media (max-width: 956px) {

  .section-profil {
    max-width: 100%;
    max-height: 180vh;
    display: block;

  }

  .section-inside {
    display: flex;
    flex-direction: column;

  }

  .section-left {
    align-items: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section-right {
    display: flex;
    flex-direction: column;
  }

  .section-right h3 {
    text-align: center;
  }

  .section-right p {
    font-size: 24px;
    text-align: center;
  }

  .btn {
    width: 200px;
    margin-left: 9rem;
  }


  .title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
  }

  .barre {
    display: block;
  }

}

@media (max-width: 415px) {

  .section-profil {
    max-width: 100%;
    max-height: 180vh;
    display: block;

  }

  .section-inside {
    display: flex;
    flex-direction: column;

  }

  .section-left {
    align-items: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section-right {
    display: flex;
    flex-direction: column;
  }

  .section-right h3 {
    text-align: center;
  }

  .section-right p {
    font-size: 17px;
    text-align: center;
  }

  .btn {
    width: 200px;
    margin-left: auto;
    margin-top: 50px;
    height: 40px;
    color: white;
    cursor: pointer;
  }


  .title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
  }

}


/*************************** Section Compétences RESPONSIVE *************************/

@media (max-width: 956px) {
  .section-inside-skill {
    display: block;
  }

  .skill .subtitle {
    font-size: 1.8rem;
  }

  .skill-titile {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: white;
  }

  .list img {
    max-height: 75px;
    max-width: 75px;
  }

  .ligne {
    display: none;
  }

  .frontend {
    width: auto;
    padding-bottom: 25px;
  }

  .backend {
    width: auto;
    padding-bottom: 25px;
  }

}

@media (max-width: 415px) {
  .section-inside-skill {
    display: block;
  }

  .skill-titile {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: white;
  }

  .skill .subtitle {
    font-size: 1.2rem;
  }

  .list img {
    max-height: 50px;
    max-width: 50px;
  }

  .ligne {
    display: none;
  }

  .frontend {
    width: auto;
    padding-bottom: 25px;
  }

  .backend {
    width: auto;
    padding-bottom: 25px;
  }

}


/*************************** Section Contact RESPONSIVE ****************************/


@media (max-width: 900px) {
  .mail {
    flex-direction: column;
    font-size: 20px;
    cursor: pointer;

  }

  .mail p {
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  .contact {
    flex-direction: column;
    font-size: 20px;
  }

  .contact a {
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: transform ease-in-out 1s;
  }

  .contact .fa-github {
    font-size: 7rem;
  }

  .contact .fa-linkedin {
    font-size: 7rem;
  }

  .mail .fa-envelope {
    font-size: 7rem;
  }

}



@media (max-width: 415px) {


  .mail {
    flex-direction: column;
    font-size: 25px;
    cursor: pointer;

  }

  .mail p {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .contact {
    flex-direction: column;
    font-size: 20px;
  }

  .contact a {
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: transform ease-in-out 1s;
  }

  .contact .fa-github {
    font-size: 4rem;
  }

  .contact .fa-linkedin {
    font-size: 4rem;
  }

  .mail .fa-envelope {
    font-size: 4rem;
  }

}