/********** Mise en page ******************/

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
} 

.section-title {
  text-align: center;
  color: white;
  padding:10px;
  margin-bottom: 10vh;
  font-size: 40px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: maman;
}

/******************************************* Couleur ******************************************************/
:root{
  --color-bg:#1f1f39;
  --color-bg-variant:#2c2C6c;
  --color-bg-primary:#4db5ff;
}


/******************************************* police font******************************************************/
@font-face {
  font-family: papa;
  src: url(../font/Lato-Bold.ttf);
}

@font-face {
  font-family: maman;
  src: url(../font/Bullpen3D.ttf);
}


/******************************************* Header ******************************************************/

.header {
  width: 100%;
  height: 90vh;
  background: url(../image/computer-macbook-pro-programmer-programming-957424-1280x640.jpg);
  background-size: cover;
  background-position: center;
}

/********** Logo de la page ******************/

.logo img {
  width: 150px;
  height: 80px;
}

/********** Nav-Bar ******************/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  overflow: hidden;
  background-color: #191919;
}

.nav-links a {
  color: #fff;
}

/********** Nav-Bar Menu ******************/

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li {
  padding: 5px 14px;
}

.menu li:hover {
  background-color: darkred;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}


/**********Content ******************/

.content {
  color: white;
  position: absolute;
  top: 30%;
  right: 34%;
  border: 10px solid transparent;
  box-shadow: 1px 1px 1px 1px rgb(97, 97, 97);
}

h1 {
  font-size: 50px;
  font-weight: 500;
  font-family: papa;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  font-family: papa;
}

/**************************************** Section ***************************************************/

.section {
  min-height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-inside {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**************************** Section Profil *****************************/

.section-profil {
  background : var(--color-bg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.section-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.section-left .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-left img {
  max-width: 50%;
  height: auto;
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(1);
}

.section-left img:hover{

transform: rotate(10deg);
}

.section-right {
  width: 50%;
  height: 50vh;
}

.section-right h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  font-family: papa;
}

.section-right span {
  font-size: 1.6rem;
  color: darkred;
  font-family: papa;
}

.section-right p {
  font-size: 1.2rem;
  color: white;
  text-align: justify;
  font-family: papa;
}

.btn {
  margin-top: 50px;
  height: 50px;
  width: 180px;
  background-color: darkred;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn .fa-download {
  font-size: 1.5rem;
  color: #000;
}

.btn a {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  margin: 10px;
  font-family: papa;
}

.btn:hover {
  background: red;
}


/*************************** Section Compétences *************************/

#Compétences {
  background : var(--color-bg);
}

.section-inside-skill {
  display: flex;
  padding-top: 30px;
}

.subtitle {
  color: white;
}

.skill-titile {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: maman;
  color: white;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: 20px auto;
  flex-wrap: wrap;
  grid-gap: 30px;
  border-radius: 1rem;
}

.list img {
  height: 110px;
  cursor: pointer;
}

.list img:hover {
  transition: 0.9s;
  font-size: 30%;
  padding: 5px;
}

.skill {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.backend {
  text-align: center;
  width: 50%;
}

.frontend {
  text-align: center;
  width: 50%;
}

.ligne {
  height: 600px;
  position: absolute;
  margin-left: -4px;
  border-left: 3px solid white;
  left: 50%;
}



/*************************** Section Projet *****************************/

.section-projet{
  background : var(--color-bg);
}
.section-card {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1px;
}

.card {
  height: 500px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px background;
  color: #fff;
  position: relative;
  margin: 10px;
}

.card:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transform: scale(1.03);
  transition: all 1s ease;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.card-body img {
  width: 140px;
  height: 140px;
}

.card-body .card-text {
  font-size: 1rem;
  color: white;
  text-align: justify;
  font-family: papa;
}


/*************************** Section Contact ****************************/

.section-contact {
  background : var(--color-bg);
}

.section-inside-contact {
  background-color: red;
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px 0;
}

.contact a {
  margin: 40px;
  color: #fff;
}

.contact a:hover{
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
}

.contact .fa-envelope{
  font-size: 100px;
}

.contact .fa-github{
  font-size: 100px;
}

.contact .fa-linkedin{
  font-size: 100px;
}

.menu-footer {
  background-color: blue;
}