/********** Mise en page ******************/

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background : var(--color-bg);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
} 

.section-title {
  text-align: center;
  color: white;
  padding:10px;
  font-size: 40px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

/******************************************* Couleur ******************************************************/
:root{
  --color-bg:#1f1f39;
  --color-bg-variant:#2c2C6c;
  --color-bg-variant-contact:#13134b;
  --color-bg-primary:#4db5ff;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
}


/******************************************* police font******************************************************/
@font-face {
  font-family: papa;
  src: url(../font/Lato-Bold.ttf);
}


@font-face {
  font-family: maman;
  src: url(../font/Bullpen3D.ttf);
}


/******************************************* Header ******************************************************/

.header {
  width: 100%;
  height: 90vh;
  background: url(../image/computer-macbook-pro-programmer-programming-957424-1280x640.jpg);
  background-size: cover;
  background-position: center;
}

/********** Logo de la page ******************/

.logo img {
  width: 150px;
  height: 80px;
}

/********** Nav-Bar ******************/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: #fff;
  overflow: hidden;
  background: var(--color-bg-variant);
  z-index: 999;
  position: fixed;
  width: 100%;
}

.nav-links a {
  color: #fff;
}

/********** Nav-Bar Menu ******************/

.menu {
  display: flex;
  gap: 1em;
  font-size: 20px;
}

.menu li {
  padding: 6px 18px;
  margin-left: 20px;
  margin-right: 5px;
}

.menu li:hover {
  background : var( --color-bg-variant-contact);
  transition: 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
}


/**********Content ******************/

.content {
  color: white;
  position: absolute;
  top: 30%;
  right: 34%;
  background-color: #000a;
  padding: 20px;
  min-width: 25%;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
}

/**************************************** Section ***************************************************/

.section {
  min-height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-inside {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**************************** Section Profil *****************************/

.section-profil {
  background : var(--color-bg);
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.section-left {
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-left .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-left img {
  max-width: 50%;
  height: auto;
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(1);
  transition: transform ease-in-out 0.3s;
}

.section-left img:hover{

transform: rotate(10deg);
}

.section-right {
  width: 50%;
}

.section-right h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  font-family: papa;
}

.section-right span {
  font-size: 1.6rem;
  color: darkred;
  font-family: papa;
}

.section-right p {
  font-size: 1.2rem;
  color: white;
  text-align: justify;
  font-family: papa;
}

.btn {
  margin-top: 50px;
  height: 50px;
  width: 180px;
  background-color: darkred;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn .fa-download {
  font-size: 1.5rem;
  color: #000;
}

.btn a {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  margin: 10px;
  font-family: papa;
}

.btn:hover {
  background: red;
}


/*************************** Section Compétences *************************/

#Compétences {
  background : var(--color-bg);
}

.section-inside-skill {
  display: flex;
  padding-top: 30px;
}

.subtitle {
  color: white;
}

.skill-titile {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: 20px auto;
  flex-wrap: wrap;
  grid-gap: 30px;
  border-radius: 1rem;
}

.list img {
 max-height: 100px;
 max-width: 100px;
cursor: pointer;
}

.list img:hover {
  transition: 0.9s;
  font-size: 30%;
  padding: 5px;
}

.skill {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.backend {
  text-align: center;
  width: 50%;
}

.frontend {
  text-align: center;
  width: 50%;
}

.ligne {
  height: 600px;
  position: absolute;
  margin-left: -4px;
  border-left: 3px solid white;
  left: 50%;
}

.barre {
  display: none;
}



/*************************** Section Projet *****************************/

.section-projet{
  background : var(--color-bg);
}
.section-card {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1px;
}

.card {
  height: 500px;
  width: 300px;
  border-radius: 10px;
  color: #fff;
  position: relative;
  margin: 10px;
  border-radius: 35px;
  margin: 10px;
  padding: 26px 15px 30px;
  background: #060d2c;
}

.card:hover {
  cursor: pointer;
  background : var(--color-bg);
  color: white;
  transform: scale(1.03);
  transition: all 1s ease;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.card-body img {
  max-height: 150px;
  max-width: 200px;
}
.projet-title {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;

}

.card-body .card-text {
  font-size: 1rem;
  color: white;
  text-align: justify;
  font-family: papa;
}

.card-skill {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.card-skill img {
  max-height: 80px;
  max-width: 80px;
  padding: 10px;
}


/*************************** Section Contact ****************************/

.section-contact {
  background : var( --color-bg-variant-contact);
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}

.contact a {
  margin: 40px;
  color: #fff;
  transition: transform ease-in-out 1s;
}

.contact a:hover{
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
}

.contact .fa-github{
  font-size: 100px;
}

.contact .fa-linkedin{
  font-size: 100px;
}



.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 20px 0;
}
.mail a {
  color: white;
  transition: transform ease-in-out 1s;
}
.mail .fa-envelope{
  font-size: 100px;
}

.mail a:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
}
.mail p {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

